header{
    background: rgba(169, 169, 169, 0.267);
    display: flex;
}
ul{
    list-style: none;
    font-size: 25px;
    display: flex;
}
li{
    padding-left: 30px;
}
a{
    text-decoration: none;
    color: black;
}
details>summary{
    list-style-type: none; 
}
th{
    padding: 20px;
}
details:hover{
    cursor: pointer;
}
.roles{
    display: none;
    flex-direction: column;
    align-items: center;
}
.update_user{
    display: none;
    flex-direction: column;
    align-items: center;
}
.clients{
    display: none;
    flex-direction: column;
    align-items: center;
}
.reports{
    display: none;
    flex-direction: column;
    align-items: center;
}
.history{
    display: none;
    flex-direction: column;
    align-items: center;
}
.archive{
    display: none;
    flex-direction: column;
    align-items: center;
}
.tabs {
 position: relative; /* Относительное позиционирование */
}
.tab, .tab-title {
 display: inline-block; /* Выстраиваем по горизонтали */
}
.tab input[type="radio"] { display: none; }
.tab-title {
 background: #ccc; /* Цвет фона */
 padding: 5px 10px; /* Поля вокруг текста */
 border: 1px solid #666; /* Параметры рамки */
 border-bottom: none; /* Снизу линию убираем */
}
.tab-content {
 position: fixed; /* Абсолютное позиционирование */
 border: 1px solid #666; /* Параметры рамки */
 padding: 10px; /* Поля вокруг текста */
 left: 0; /* Размещаем у левого края */
 width: calc(100% - 20px); /* Ширина содержимого */
 display: none; /* Прячем вкладку */
}
.tab :checked + .tab-title {
 position: relative; /* Относительное позиционирование */
 background: #fff; /* Цвет фона */
 top: 1px; /* Сдвигаем вниз */
 z-index: 1; /* Отображаем поверх содержимого */
}
.tab :checked ~ .tab-content {
 display: block; /* Показываем активную вкладку */
}