header{
    background: rgba(169, 169, 169, 0.267);
    display: flex;
}
ul{
    list-style: none;
    font-size: 25px;
    display: flex;
}
li{
    padding-left: 30px;
}
a{
    text-decoration: none;
    color: black;
}
details>summary{
    list-style-type: none; 
}
details:hover{
    cursor: pointer;
}
.roles{
    display: none;
    flex-direction: column;
    align-items: center;
}
th{
    padding: 20px;
}
.create_table{
    display: none;
    flex-direction: column;
    align-items: center;
}
